ion-button {
    --box-shadow: 0;
    --background: transparent;
    --color: var(--primary-blue-color);
}

.container-options {
    background-color: #e8f7ff;
    color: var(--primary-blue-color);
}
