<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Meus endereços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item button>
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>
      <h3>Rua São Bento</h3>
      <p>Sítio Jaraguá</p>
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>